body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #040309;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #002D3D;
    justify-content: center;
    display: flex;
}


    .navbar ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        .navbar ul li a {
            display: inline-block;
            padding: 20px;
            color: white;
            text-decoration: none;
        }

            .navbar ul li a:hover {
                background-color: #9E363D;
                display: inline-block;
                padding: 20px;
                color: white;
                text-decoration: none;
            }

.selectedItem {
    background-color: #9F2226;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.section {
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.section2 {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.socialMedia {
    margin: 30px;
    width: 80px;
}

.socialMedia {
    transition: transform 0.3s ease-in-out;
}

    .socialMedia:hover {
        transform: scale(1.2); /* Aumenta o tamanho da imagem em 20% quando o mouse estiver em cima */
    }

    .section p {
        
        justify-content: center;
        align-items: center;
        font-size: 50px;
        height: 85%;
        align-items: center;
        justify-content: center;
    }

footer {
    background-color: #002D3D;
    height: 50px;
    text-align: center;
    align-items: center;
    color: white;
}

.titulo {    
    color: white;
    font-size: 3em;
    letter-spacing: 5px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Começa com a opacidade 0 para esconder o texto */
    animation: fadeIn 2s ease forwards; /* Inicia a animação quando a página é carregada */
}

.destaque {
    color: #9F2226;
    font-size: 60px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Adiciona um efeito de deslize para cima */
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}   

