/* Arquivo CSS */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que a página tenha pelo menos 100% da altura da tela visível */
    background-color: #040309;
}

.navbar {
    background-color: #002D3D;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}

p {
    color: white;
    font-size: 32px;    
}

.destaque {
    color: #9F2226;
    font-size: 60px;
}

    .navbar ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .navbar ul li a {
        display: inline-block;
        padding: 20px;
        color: white;
        text-decoration: none;
    }

        .navbar ul li a:hover {
            background-color: #9E363D;
            display: inline-block;
            padding: 20px;
            color: white;
            text-decoration: none;
        }

.selectedItem {
    background-color: #9F2226;
    font-weight: bold;
}

.footerDiv {
    background-color: #002D3D;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto; /* Empurra o footer para o final da página */
}

.section1 {
    margin-top: 150px;
    height: 400px; /* Defina a altura desejada */
    padding: 20px; /* Adiciona espaçamento interno */    
    display: flex;
    justify-content: center;
    text-align: center;
}

    .section1 div img {
        width: 100px; /* Define a largura desejada */
    }

.section2 div {
    justify-content: center;
    display:flex;
}

    .section2 div img {
        margin: 25px;
        width: 65px; /* Define a largura desejada */
    }

.icon img {
    transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
}

.icon img:hover {
        transform: scale(1.2); /* Aumenta o tamanho da imagem em 20% quando o mouse estiver em cima */
    }

.titulo {
    color: white;
    font-size: 3em;
    letter-spacing: 5px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Começa com a opacidade 0 para esconder o texto */
    animation: fadeIn 2s ease forwards; /* Inicia a animação quando a página é carregada */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Adiciona um efeito de deslize para cima */
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
